<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>PokeChat</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/style.css"/>
    <link type="text/css" rel="stylesheet" href="/styleMain.css"/>

</head>
<body>

<section>

    <header>

        <div class="infoLog">
            <span th:if="${user != null}"
                  th:text="${'Witaj, ' + user.get().getName()}"></span>
            <a th:if="${user != null}" th:href="${'/logout'}">Wyloguj się</a>
            <a th:unless="${user != null}" th:href="${'/login'}">Zaloguj się</a>
        </div>
        <div>
            <div class="header">
                <p>PokeChat</p>
            </div>
        </div>
        <nav>
            <div class="navSpace">
                <ol>
                    <li><a th:href="${'/cities'}">Wybór miasta</a>
                        <!--<ul>
                            <li><a href="#">Kraków</a></li>
                            <li><a href="#">Warszawa</a></li>
                            <li><a href="#">Wrocław</a></li>
                            <li><a href="#">Poznań</a></li>
                            <li><a href="#">Katowice</a></li>
                        </ul>-->
                    </li>
                    <li><a href="#">Eventy</a></li>
                    <li><a href="#">Raid Boss</a></li>
                    <li><a href="#">Jajka</a></li>
                    <li><a href="#">Przyjaciele</a></li>
                    <li><a href="#">Ulepszenie strony</a></li>
                    <li><a href="#">O autorach</a></li>
                </ol>
            </div>
        </nav>
    </header>
</section>
<main class="containter">
    <nav>
        <div>

        </div>
    </nav>
    <section>
        <article>
            <div>

            <span th:each="raid : ${raids}">
                <a th:href="'/raid/' + ${raid.getId()}" th:text="${raid.getNameBoss()}"></a>
                <br/>
            </span>

                <!--<br/><br/>
                <p th:if="${info != null}" th:text="${info}"></p>
                <form th:action="@{'/city/' + ${city}}" method="post" th:object="${addDistrict}">
                    <input type="text" th:field="*{district}" placeholder="Dodaj dzielnice"/>
                    <button type="submit">Dodaj</button>
                </form>-->

                <form  th:action="@{'/district/' + ${district}}" method="post" th:object="${raidForm}">
                    <table>
                        <tr>
                            <td>Miasto</td>
                            <td><input type="text" th:field="*{city}" required/></td>
                        </tr>
                        <tr>
                            <td>Dzielnica</td>
                            <td><input type="text" th:field="*{district}" required/></td>
                        </tr>
                        <tr>
                            <td>Nazwa Gymu</td>
                            <td><input type="text" th:field="*{nameGym}" required/></td>
                        </tr>
                        <tr>
                            <td>Nazwa Bossa</td>
                            <td><input type="text" th:field="*{nameBoss}" required/></td>
                        </tr>
                        <tr>
                            <td>Lvl bossa</td>
                            <td><input type="text" th:field="*{lvlBoss}" required/></td>
                        </tr>
                        <tr>
                            <td>Godzina rozpoczęcia</td>
                            <td><input type="datetime-local" th:field="*{start}" required/></td>
                        </tr>
                        <tr>
                            <td>Godzina zakończenia</td>
                            <td><input type="datetime-local" th:field="*{end}" required/></td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td><input type="text" th:field="*{description}" required/></td>
                        </tr>
                    </table>
                </form>

            </div>
        </article>
    </section>
</main>

<script src="jquery-3.3.1.min.js"></script>
<script src="navbar.js"></script>

</body>
</html>