<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>PokeChat</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<header>
    <div>
        <div class="header">
            <p>PokeChat</p>
        </div>
    </div>
    <nav>
        <div class="navSpace">
            <ol>
                <li><a th:href="${'/cities'}">Wybór miasta</a>
                    <!--<ul>
                        <li><a href="#">Kraków</a></li>
                        <li><a href="#">Warszawa</a></li>
                        <li><a href="#">Wrocław</a></li>
                        <li><a href="#">Poznań</a></li>
                        <li><a href="#">Katowice</a></li>
                    </ul>-->
                </li>
                <li><a href="#">Eventy</a></li>
                <li><a href="#">Raid Boss</a></li>
                <li><a href="#">Jajka</a></li>
                <li><a href="#">Przyjaciele</a></li>
                <li><a href="#">Ulepszenie strony</a></li>
                <li><a href="#">O autorach</a></li>
            </ol>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="containter">
            <div class="logdiv">
                <form th:action="@{/login}" method="post" th:object="${userModel}">
                    <input type="text" th:field="*{name}" placeholder="Nazwa użytkownika" autofocus/>
                    <input type="password" th:field="*{password}" placeholder="Hasło"/>
                    <button type="submit">Zaloguj</button>
                    <button type="button" onclick="window.location.href='register.html'">Zarejestruj</button>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>