<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PokeChat</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<section>
    <header>
        <div>
            <div class="header">
                <p>PokeChat</p>
            </div>
        </div>
        <nav>
            <div class="navSpace">
                <ol>
                    <li><a href="#">Wybór miasta</a>
                        <ul>
                            <li><a href="#">Kraków</a></li>
                            <li><a href="#">Warszawa</a></li>
                            <li><a href="#">Wrocław</a></li>
                            <li><a href="#">Poznań</a></li>
                            <li><a href="#">Katowice</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Eventy</a></li>
                    <li><a href="#">Raid Boss</a></li>
                    <li><a href="#">Jajka</a></li>
                    <li><a href="#">Przyjaciele</a></li>
                    <li><a href="#">Ulepszenie strony</a></li>
                    <li><a href="#">O autorach</a></li>
                </ol>
            </div>
        </nav>
    </header>
</section>
<main class="containter">
    <nav>
        <div>

        </div>
    </nav>
    <section>
        <article>
            <div>
                <p>Lorem ipsum dolor sit amet tellus. Quisque vehicula enim eu justo. Suspendisse nec augue. Sed
                    placerat. Vivamus nec mauris. Etiam lobortis mauris nec massa imperdiet vel, consequat tortor. Cum
                    sociis natoque penatibus et ultrices nulla. Mauris vel sodales rutrum, lorem eget sapien faucibus
                    justo vel nonummy dui ligula, nonummy justo nibh, interdum rhoncus, dolor lorem, pretium eget,
                    dignissim a, rutrum et, varius nec, imperdiet convallis. Cras dolor sit amet augue justo vel risus.
                    Aliquam erat volutpat. Nam pulvinar, libero. Maecenas tortor orci quis ipsum. Sed placerat at,
                    fringilla purus lorem, ornare nulla ut tellus consectetuer adipiscing elit. Curabitur enim.
                    Phasellus ipsum dolor in volutpat massa ac imperdiet lectus lectus, tincidunt lorem. Cras ornare.
                    Nam vestibulum. Aenean egestas purus. Pellentesque facilisis. Phasellus semper vel, congue eget,
                    bibendum tellus, fringilla viverra et, tincidunt eget, enim. Aliquam auctor sapien. Praesent est ut
                    nibh placerat ut, laoreet ante ipsum quis ipsum. Curabitur fringilla orci. Nam feugiat at, porttitor
                    sem ut eros sed molestie augue sed arcu. Nulla consectetuer, augue at arcu. Sed egestas vulputate,
                    odio vitae ipsum primis in turpis a dolor. Sed ornare.
                </p>
                <p> Integer gravida sollicitudin, urna sit amet, consectetuer adipiscing elit. Pellentesque dapibus
                    aliquam. Etiam ut lorem. Cras lacus a urna. Proin odio. Morbi quis orci luctus et magnis dis
                    parturient montes, nascetur ridiculus mus. Pellentesque nunc. Donec nonummy id, condimentum
                    ultricies, velit sit amet risus. Phasellus ornare risus. Suspendisse ut leo vel lorem. Vivamus
                    euismod. Donec gravida vel, purus. Pellentesque porta laoreet. Aenean posuere cubilia Curae, Nulla
                    ac ipsum. Praesent et felis sagittis luctus, enim porttitor laoreet metus gravida varius risus
                    dictum eu, pulvinar mollis, purus lacinia eros porttitor tempus. Quisque est porta turpis et turpis.
                    Nullam id leo sit amet, consectetuer adipiscing diam elementum eu, neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per conubia nostra, per conubia nostra, per inceptos
                    hymenaeos. Fusce in nibh nulla in enim. Praesent sollicitudin, odio eget lectus luctus et tellus.
                    Donec tortor. Quisque placerat sodales. Aenean lobortis cursus ligula turpis, accumsan lectus luctus
                    et magnis dis parturient montes, nascetur ridiculus mus. Fusce gravida, erat volutpat. Maecenas
                    sapien. Cras nonummy a, ultricies quis, pellentesque consectetuer, augue ut felis ut nibh. Donec
                    non.
                </p>
                <p> Ut elit metus, ullamcorper eleifend et, ultricies viverra eget, volutpat a, faucibus turpis. Nullam
                    sed tortor. Morbi urna semper eu, purus. Phasellus lorem dapibus risus suscipit pede semper vitae,
                    lectus. Pellentesque mollis luctus et tellus. Cras interdum faucibus, fermentum ut, eros. Integer
                    faucibus quis, egestas risus dictum tempus, urna orci vel sodales neque tellus, at fermentum in,
                    mollis vel, massa. Pellentesque felis. Aliquam ultricies tortor vehicula libero et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc vitae ante. Donec suscipit sapien pede quis massa
                    non erat eget odio. Vestibulum ante ipsum primis in quam felis non sem. Quisque et magnis dis
                    parturient montes, nascetur ridiculus mus. Donec interdum ligula quis ante. Suspendisse rhoncus at,
                    porttitor ante pellentesque dui, eu elementum eu, wisi. In gravida iaculis ut, leo. Pellentesque ac
                    lacus. Vestibulum nibh faucibus orci luctus scelerisque. Nam consectetuer condimentum est enim est a
                    nibh. Fusce ullamcorper eleifend congue. Integer neque tristique vitae, pellentesque tincidunt,
                    tempor vel, consectetuer adipiscing sollicitudin. Donec nonummy velit in vestibulum iaculis. Sed
                    sollicitudin non, dictum sapien pede ac lacus. Aliquam rhoncus laoreet hendrerit libero. Maecenas
                    nunc.
                </p>
                <p> Cras ipsum dolor urna tellus non orci. Nullam nec est. Pellentesque bibendum, urna turpis nec eros.
                    Sed scelerisque odio id erat volutpat. Praesent sit amet ipsum cursus sed, rutrum rhoncus. Praesent
                    dictum a, ultricies tortor lacus nec est. Aliquam tempor auctor, sapien facilisis dui quis metus.
                    Aenean scelerisque, diam. Etiam vulputate, arcu massa, feugiat dui, eget risus. Cras semper magna
                    ornare ac, ante. Vestibulum consectetuer tortor. Donec in sem. Donec nunc. Quisque iaculis, turpis
                    id ligula. Etiam id nisl. Aenean urna eget nulla. Proin in magna arcu, pellentesque ut, pellentesque
                    quis, dictum vel, ipsum. Fusce tempor diam. Donec urna tellus pede ac hendrerit libero. Mauris
                    neque. Duis pretium convallis. Fusce commodo id, condimentum quam. Donec vel hendrerit wisi. Nam
                    nunc posuere sit amet quam molestie mollis faucibus, tortor et netus et lacus tincidunt sit amet
                    nibh. Ut sit amet lorem. Vestibulum ullamcorper ligula nunc, luctus a, sodales sed, luctus ut,
                    accumsan et, tincidunt turpis rutrum sollicitudin non, dictum eget, condimentum convallis. Integer
                    auctor congue quis, feugiat dolor. Ut elit sed quam accumsan sed, venenatis nunc, nonummy sagittis.
                    Lorem ipsum consectetuer.
                </p>
                <p> Aliquam sed justo augue eget augue ac dignissim massa. Integer auctor varius, sem ante ipsum primis
                    in dolor. Nullam sapien. Praesent ante. Donec ullamcorper, enim ac erat. Aenean pede quis quam in
                    massa metus feugiat velit. Suspendisse diam. In hac habitasse platea dictumst. Praesent ac nisl.
                    Curabitur eget sem. Mauris vel massa. Maecenas fermentum vel, dapibus eu, luctus et mi. Nullam
                    laoreet, nulla quis ultricies tortor turpis, accumsan odio non dolor. Pellentesque molestie justo
                    semper eu, facilisis nunc, luctus et netus et netus et ultrices et, ultricies lobortis quis,
                    bibendum id, ullamcorper lorem pretium vehicula libero vel massa. Maecenas nunc. Suspendisse at
                    ipsum. Sed nonummy sagittis. Curabitur sit amet lacus. Sed hendrerit tellus et magnis dis parturient
                    montes, nascetur ridiculus mus. Curabitur nunc. Donec porta, turpis egestas. Proin id mauris rhoncus
                    purus, dictum eu, iaculis leo. Phasellus vulputate wisi dui quis consectetuer lacus. Vivamus posuere
                    cubilia Curae, Vestibulum euismod nulla in nunc. Nulla faucibus orci sit amet eleifend quam ut lacus
                    vestibulum sapien, non orci. Mauris nec malesuada fames ac ipsum. Morbi quis justo. Quisque nec erat
                    sem vitae convallis.
                </p>
            </div>
        </article>
    </section>
</main>

<script src="jquery-3.3.1.min.js"></script>
<script src="navbar.js"></script>

</body>
</html>