<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>PokeChat-Rejestracja</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <!--<meta http-equiv="Refresh" content="3"/>-->
</head>
<body>
<header>
    <div class="header">
        <p>PokeChat</p>
    </div>
</header>
<main>
    <section>
        <div class="containter">
            <div class="logdiv">
                <span th:tekst="BadPassword"></span>
                <span th:tekst="NameBusy"></span>
                <table>
                <form  th:action="@{/register}" method="post" th:object="${registerForm}">
                    <tr>
                        <td>Nazwa</td>
                        <td><input type="text" th:field="*{name}" required/></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Hasło</td>
                        <td><input type="password" th:field="*{password}" required/></td>
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Powtórz hasło</td>
                        <td><input type="password" th:field="*{repeatPassword}" required/></td>
                        <td th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Zespół</td>
                        <td><select th:field="*{team}" required>
                            <option style="color: red" th:value="Valor">Valor</option>
                            <option style="color: blue" th:value="Mystic">Mystic</option>
                            <option style="color: yellow" th:value="Instinct">Instinct</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Miasto</td>
                        <td><input type="text" th:field="*{city}" required/></td>
                        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Wiek</td>
                        <td><input type="number" th:field="*{age}" required/></td>
                        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Poziom gracza</td>
                        <td><input type="number" th:field="*{lvl}" /></td>
                        <td th:if="${#fields.hasErrors('lvl')}" th:errors="*{lvl}">Name Error</td>
                    </tr>
                    <tr>
                        <td><button type="submit">Zarejestruj</button></td>
                    </tr>

                </form>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>