<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>PokeChat-Rejestracja</title>
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <!--<meta http-equiv="Refresh" content="3"/>-->
</head>
<body>
<header>
    <div>
        <div class="header">
            <p>PokeChat</p>
        </div>
    </div>
    <nav>
        <div class="navSpace">
            <ol>
                <li><a th:href="${'/cities'}">Wybór miasta</a>
                    <!--<ul>
                        <li><a href="#">Kraków</a></li>
                        <li><a href="#">Warszawa</a></li>
                        <li><a href="#">Wrocław</a></li>
                        <li><a href="#">Poznań</a></li>
                        <li><a href="#">Katowice</a></li>
                    </ul>-->
                </li>
                <li><a href="#">Eventy</a></li>
                <li><a href="#">Raid Boss</a></li>
                <li><a href="#">Jajka</a></li>
                <li><a href="#">Przyjaciele</a></li>
                <li><a href="#">Ulepszenie strony</a></li>
                <li><a href="#">O autorach</a></li>
            </ol>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="containter">
            <div class="logdiv">
                <table>
                <form  th:action="@{/register}" method="post" th:object="${registerForm}">
                    <tr>
                        <td>Nazwa</td>
                        <td><input type="text" th:field="*{name}" required/></td>
                        <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                        <td th:if="${NameBusy != null}" th:text="${NameBusy}"></td>
                    </tr>
                    <tr>
                        <td>Hasło</td>
                        <td><input type="password" th:field="*{password}" required/></td>
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
                        <td th:if="${BadPassword != null}" th:text="${BadPassword}"></td>

                    </tr>
                    <tr>
                        <td>Powtórz hasło</td>
                        <td><input type="password" th:field="*{repeatPassword}" required/></td>
                        <td th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Zespół</td>
                        <td><select th:field="*{team}" required>
                            <option style="color: red" th:value="Valor">Valor</option>
                            <option style="color: blue" th:value="Mystic">Mystic</option>
                            <option style="color: yellow" th:value="Instinct">Instinct</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Miasto</td>
                        <td><input type="text" th:field="*{city}" required/></td>
                        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Rok urodzenia</td>
                        <td><input type="number" th:field="*{yearOfBirth}" required/></td>
                        <td th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Poziom gracza</td>
                        <td><input type="number" th:field="*{lvl}" /></td>
                        <td th:if="${#fields.hasErrors('lvl')}" th:errors="*{lvl}">Name Error</td>
                    </tr>
                    <tr>
                        <td><button type="submit">Zarejestruj</button></td>
                    </tr>

                </form>
                </table>
            </div>
        </div>
    </section>
</main>
</body>
</html>